<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
	<meta name="theme-color" content="#000">
	<meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
        
    <title>VHack - February Edition - Amrita's premier student-run hackathon series</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">
    <link href="https://cloud.typenetwork.com/projects/2949/fontface.css/" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/styles/style.css">

    <!-- JS -->
    <script type="text/javascript" src="/static/js/typing.js"></script>

</head>
<body>	
	<div class="container">
		<div class="logo">
			VHack
		</div>
		<div class="menu">
			<a href="#">Schools</a>
		</div>
		<div class="main">
			<div class="main-one">
                <div class="type-t">
                	<h1>Text goes here</h1>
            	</div>
			</div>
			<div class="main-two">
				<div class="main-two-container-one">
					<h1>VHack</h1>
					<span style="text-transform: uppercase;">March Edition</span>
					<h2>22-24 February</h2>
					<span>Amrita Vishwa Vidyapeetham</span><span>Amritapuri Campus</span>
				</div>
			</div>
		</div>
	</div>
	<div class="b2">
		<div class="b2-container">
			<h1>Introducing VHack February</h1>
		</div>
	</div>
</body>
</html>